.app-container {
  min-height: 100vh;
  background: linear-gradient(to right, #a8c0ff, #3f2b96);
  padding: 20px;
}

.app-content {
  max-width: 600px;
  margin: auto;
  color: white;
}

.app-title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 25px;
}

.error-msg {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
